.form{
    background-color: aliceblue;
    border: 4px;
    border-style:groove;
    border-radius: 5%;
    bord
    opacity: 0.6;
    width: 400px;
    height: 600px;
    position: absolute;
    top: 100px;
    left: 700px;
}

input{
    width: 300px;
    height: 50px;
    border: 2px;
    border-radius: 5px;
    border-style:double;
    margin: 15px 40px;
}
p{
    text-align: center;
    font-size: large;
    color: red;
}

button{
    width: 200px;
    height: 40px;
    border: 2px;
    border-radius: 10px;
    border-style:double;
    margin-left: 25%;
    margin-top: 20px;
    
   
}