 /* div{
    position: relative;
    left: 300px;
} */

.head{
    background-color: aliceblue;
    opacity: 0.6;
    width: 350px;
    height: 50px;
    position: absolute;
    left: 700px;
 
}
.body{
    background-color: aliceblue;
    opacity: 0.6;
    width: 350px;
    height: 200px;
    position: absolute;
    top: 60px;
    left: 700px;
 
}
p{
    text-align: center;
    font-size: large;
    color: red;
}
.form{
    background-color: aliceblue;
    border: 4px;
    border-style:groove;
    border-radius: 5%;
    bord
    opacity: 0.6;
    width: 350px;
    height: 400px;
    position: absolute;
    top: 300px;
    left: 700px;
}
h1{
    color: blue;
}

input{
    width: 300px;
    height: 50px;
    border: 2px;
    border-style:double;
    margin: 10px 20px;
}
button{
    width: 100px;
    height: 40px;
    border: 2px;
    border-style:double;
    margin-left: 35%;
    margin-top: 20px;
    
   
}

/* body{
    background-image: url("./picture/galaxy-3608029_1920.jpg");
}  */
